<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/analizador_lexico/src/analizador_lexico/analizador_lexico.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="analizador_lexico.analizador_lexico"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="analizador_lexico"/>
</launchConfiguration>
